{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="header-title"><i class="fas fa-car"></i> Book <span class="blue">Space</span></h1>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="mt-5">Book a parking bay</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" id="booking_form">
                <h3 class="text-center">Sign In</h3>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                        {{ form.username.label(class='form-label') }}<br>
                        {{ form.username(size=32, class='form-control') }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    
                   
                        {{ form.password.label(class='form-label') }}<br>
                        {{ form.password(size=32, class='form-control') }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(class='btn btn-primary') }}</p>
                </form>
            </div>
            <div class="col">
                <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANLhb67nWO0n9B3N6DGz19JTulEtBDYhY
                    &q=The+Core,+Newcastle+upon+Tyne+NE4+5TF">
                </iframe>
            </div>
        </div>
    </div>
</div>


{% endblock %}