{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="header-title"><i class="fas fa-car"></i> Book <span class="blue">Space</span></h1>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="mt-5">Book a parking bay</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" id="booking_form">
                <h1>Register</h1>
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    {% endif %}
                    {% endwith %}
                </div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    
                        {{ form.username.label(class='form-label') }}
                        {{ form.username(size=32, class='form-control') }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        {{ form.email.label(class='form-label') }}
                        {{ form.email(size=64, class='form-control') }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        {{ form.password.label(class='form-label') }}
                        {{ form.password(size=32, class='form-control') }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        {{ form.password2.label(class='form-label') }}
                        {{ form.password2(size=32, class='form-control') }}
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <br>
                    <p>{{ form.submit(class='btn btn-primary') }}</p>
                </form>
            </div>
            <div class="col">
                <iframe width="650" height="525" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANLhb67nWO0n9B3N6DGz19JTulEtBDYhY
        &q=The+Core,+Newcastle+upon+Tyne+NE4+5TF">
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}